$pad-button-size: 140px;
$pad-button-margin: 10px;

$pad-color-default: #888;
$pad-color-blue: #0097f0;
$pad-color-orange: #e64c00;
$pad-color-magenta: #f731ed;
$pad-color-lightgreen: #d2d900;
$pad-color-turquoise: #01c6bd;
$pad-color-lightblue: #64cbfa;
$pad-color-green: #01ac3c;

@mixin padButton($color) {
  background: radial-gradient(mix($color, white, 35%), $color);
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5), 0px 4px 0px lighten($color, 3%), 0 0 3px rgba(0, 0, 0, 0.2);

  &:active,
  &.active {
    background: radial-gradient(mix($color, white, 30%), mix($color, white, 92%));
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.4), 0px 2px 0px lighten($color, 3%), 0px 0px 2px rgba(0, 0, 0, 0.4);
  }
}

#pad-buttons-wrapper {
  width: ($pad-button-size + (2 * $pad-button-margin)) * 4;
}

.pad-button-context-area {
  display: inline-block;
  width: $pad-button-size;
  height: $pad-button-size;
  margin: $pad-button-margin;
}

.pad-button {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  cursor: pointer;

  &:active,
  &.active {
    transform: translateY(2px);
  }

  .text-display {
    color: white;
    position: absolute;
    top: 16px;
    left: 20px;
    width: calc(100% - 40px);
    display: inline-block;
    font-size: 14px;
    line-height: 1.6;

    user-select: none; /* Standard */
  }

  .edit-mode-indicator {
    color: #333;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 1;
    width: 76px;
    height: 76px;
    border-radius: 40px;
    position: absolute;
    top: 45px;
    left: 40px;

    i.icon {
      display: inline-block;
      margin-left: 4px;
    }
  }

  @include padButton($pad-color-default);

  &.blue {
    @include padButton($pad-color-blue);
  }

  &.orange {
    @include padButton($pad-color-orange);
  }

  &.magenta {
    @include padButton($pad-color-magenta);
  }

  &.lightgreen {
    @include padButton($pad-color-lightgreen);
  }

  &.turquoise {
    @include padButton($pad-color-turquoise);
  }

  &.lightblue {
    @include padButton($pad-color-lightblue);
  }

  &.green {
    @include padButton($pad-color-green);
  }
}
