body {
  margin: 0;
  background-color: #111;
  background: linear-gradient(
    140deg,
    #222 0%,
    #000 90%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100%;
  font-family: "Roboto", sans-serif;
}

html,
body,
#root,
#app,
#midi-pad,
#settings-sidebar {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  line-height: 1.6;
}

#midi-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

#midi-controls-wrapper {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;

  .control-section {
    padding: 30px 40px;
    display: flex;
    align-items: center;

    &.clickable {
      cursor: pointer;

      &:hover {
        color: #01c6bd;
      }
    }

    .icon-wrapper {
      width: 20px;
      margin-right: 15px;
    }

    i.icon {
      font-size: 24px;
      line-height: 1;
    }
  }

  #volume-control {
    width: 160px;
  }
}

#pad-button-edit-box {
  color: white;
  box-sizing: border-box;
  width: 330px;
  padding: 25px 10px;
  height: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  label {
    font-size: 15px;
    font-weight: 500;
    color: #777;
    display: block;
    margin-bottom: 10px;
  }

  #name-shortcut-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding-right: 20px;

    #display-name-input-wrapper {
      flex-grow: 1;
      margin-right: 20px;
    }

    #shortcut-input-wrapper {
      width: 145px;
    }

    #display-name-input-wrapper input[type="text"],
    #shortcut-input-wrapper input[type="text"] {
      color: white;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid #444;
      padding: 15px 0;
      width: 100%;
      font-size: 24px;
      line-height: 1;
    }
  }

  #button-color-select-wrapper {
    margin-bottom: 20px;
    padding-right: 20px;
  }

  #audio-src-title {
    display: flex;
    align-items: center;
    padding-right: 20px;

    label {
      display: inline-block;
      flex-grow: 1;
    }

    .revert-button {
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;

      i.icon {
        display: inline-block;
        margin-right: 10px;
      }

      &:hover {
        color: white;
      }
    }
  }

  #audio-src-items {
    flex-grow: 1;
    overflow-y: scroll;
    font-size: 15px;

    /* Scrollbar */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #444;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      background-color: #eee;
    }

    .item {
      color: #ccc;
      display: flex;
      padding: 5px 0;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }
}
