body {
  margin: 0;
  background-color: #111;
  background: linear-gradient(140deg, #222 0%, #000 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100%;
  font-family: "Roboto", sans-serif;
}

$primary-color: #01c6bd;

html,
body,
#root,
#app,
#midi-pad,
#settings-sidebar {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  line-height: 1.6;
}

#midi-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

#midi-controls-wrapper {
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;

  .control-section {
    padding: 30px 35px;
    display: flex;
    align-items: center;

    &.clickable {
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }
    }

    .icon-wrapper {
      width: 20px;
    }

    &#volume-control .icon-wrapper {
      margin-right: 15px;
    }

    i.icon {
      font-size: 24px;
      line-height: 1;
    }
  }

  #volume-control {
    width: 160px;
  }

  #help-box-wrapper {
    position: relative;

    i#help-icon.icon {
      display: inline-block;
      font-size: 24px;
      line-height: 1;
      padding: 30px 35px;
    }

    #help-box {
      width: 380px;
      position: absolute;
      top: 70px;
      right: 30px;
      color: white;
      background: rgba(0, 0, 0, 0.97);
      display: none;
      padding: 25px 30px;
      box-sizing: border-box;
      z-index: 3;
      box-shadow: 0 0 15px rgba($primary-color, 0.3);

      h4 {
        color: #777;
        font-size: 15px;
        line-height: 1.6;
        margin-top: 40px;
      }

      .help-item:nth-of-type(1) {
        h4 {
          margin-top: 0;
        }
      }

      p {
        font-size: 20px;
        line-height: 1.6;
        margin-top: 10px;
      }

      .button {
        color: $primary-color;
        text-decoration: none;
        font-size: 15px;
        display: block;
        margin-top: 20px;
        cursor: pointer;

        i.icon {
          display: inline-block;
          margin-right: 6px;
        }

        &:hover {
          color: lighten($primary-color, 20);
        }
      }
    }

    &:hover {
      i#help-icon.icon {
        color: $primary-color;
        padding-left: 300px;
      }
      #help-box {
        display: block;
      }
    }
  }
}

#pad-button-edit-box {
  color: white;
  box-sizing: border-box;
  width: 330px;
  padding: 25px 10px;
  height: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;

  #button-color-select-wrapper {
    margin-bottom: 30px;
  }

  .option-title {
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 15px;

    label {
      font-size: 15px;
      font-weight: 500;
      color: #555;
      display: block;
      display: inline-block;
      flex-grow: 1;
    }

    .revert-button {
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;

      i.icon {
        display: inline-block;
        margin-right: 10px;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  #audio-src-items {
    flex-grow: 1;
    overflow-y: scroll;
    font-size: 15px;
    margin-bottom: 20px;

    /* Scrollbar */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #444;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      background-color: #eee;
    }

    .item {
      color: #999;
      display: flex;
      padding: 5px 0;
      align-items: center;
      cursor: pointer;

      .show-when-selected {
        display: none;

        i.icon {
          display: inline-block;
          margin-left: 10px;
        }
      }

      &:hover {
        color: white;
      }

      &.selected {
        color: white;
        font-weight: 500;

        .show-when-selected {
          display: block;
        }
      }
    }
  }

  #action-buttons-wrapper {
    padding-right: 20px;

    button {
      cursor: pointer;
      display: block;
      border: none;
      width: 100%;
      box-sizing: border-box;

      i.icon {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .close-button {
      font-size: 16px;
      border-radius: 40px;
      padding: 15px;
      color: #222;
      background-color: #eee;

      &:hover {
        color: #444;
        background-color: #fff;
      }
    }
  }
}

.edit-sidebar-enter {
  opacity: 0;
  transform: scale(0.9);
}
.edit-sidebar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.edit-sidebar-exit {
  opacity: 1;
}
.edit-sidebar-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
